@media (max-width: 1450px) {
    
    .titlebox{
        margin-top: 25vh;
    } 

    #P1main{
        padding-top: 0;
    }

    #conquestbox{
        position: absolute;
    }
    
    #warbox{
        position: absolute;
    }
    
    #pestilencebox{
        position: absolute;
    }
    
    #deathbox{
        position: absolute;
    }

    .mask{
        z-index: 1;
    }
 }

 @media (max-width: 890px) {

    /*#title{
        width: 550px;
        
    }*/
 }

 @media (max-width: 620px) , (max-height: 600px) {
    
    .horsemen {
        max-width:150px; 
        height: auto;
    }
 }